<div>
  <h1>計算結果</h1>
</div>
<div>
  <div>
    <h2>計算条件</h2>
  </div>
  <div>
    積立額: <%= @asset_formation_calc.monthly_purchase %>(万円/月)
  </div>
  <div>
    期待利率: <%= @asset_formation_calc.annual_yield %>%
  </div>
  <div>
    <%= @asset_formation_calc.year_later %>年後に、<%= @asset_formation_calc.asset_sum %>万円の資産になります
  </div>
</div>
