<p><%= @user.nickname %> さん</p>

<p>F.I.R.E Countdown Appのユーザー登録申請ありがとうございます。</p>
<p>下記のリンクをクリックして、本登録を完了してください。</p>

<p><%= link_to "こちら", url_with_confirmation_token(confirm_api_v1_users_sign_up_index_url, @user)%></p>
