<div>
  <h1>期待利率 設定フォーム</h1>
</div>
<div>
  <%= form_with model: @yield_config, url: yield_config_index_path, local: :true do |f|%>
    <div>
      期待年利(%)
    </div>
    <div>
      <%= f.number_field :annual_yield, value: 5 %>
    </div>
    <div>
      <%= f.submit "設定する" %>
    </div>
  <% end %>
</div>
